<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 4.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-4.0.dtd">

<hibernate-configuration>


    <session-factory>

        <!-- Configuración para la conexión (driver, url, usuario y contraseña)-->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/calculadora_macros?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1122</property>

        <!-- Configuración que elige el dialecto, crea tablas si no existen, muestra las consultas sql en consola, crea una sesión por hilo -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="current_session_context_class">thread</property>

        <!-- Clases Java que mapea y establece la conexión -->
        <mapping class="es.proyecto.model.Receta"/>

    </session-factory>

</hibernate-configuration>